@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f04e30;
    --color-secondary: #2b2b2b;
    --color-gray: #474747;
    --color-body-text: #191919;
    --color-accent: #3f36b7;
    --color-copper: #c7642a;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
    font-family: 'IBMPlexSansThai', sans-serif;
  }

  /* Hided eye on MS edge chromium */
  input[type='password']::-ms-reveal {
    display: none;
  }

  textarea {
    resize: none;
  }

  /* https://cssreference.io/property/font-weight/ */
  @font-face {
    font-family: 'IBMPlexSansThai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/IBMPlexSansThai-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexSansThai';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/IBMPlexSansThai-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexSansThaiLooped';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/IBMPlexSansThaiLooped-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexSansThaiLooped';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/IBMPlexSansThaiLooped-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexSansThaiLooped';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/IBMPlexSansThaiLooped-Bold.ttf') format('truetype');
  }

  /* https://www.stefanjudis.com/today-i-learned/the-ex-unit-in-css/ */
  [id] {
    scroll-margin-top: 12ex;
  }

  /* https://web.dev/content-visibility/ */
  .content-visibility {
    content-visibility: auto;
  }

  p::selection,
  a::selection,
  label::selection,
  button::selection,
  span::selection,
  svg::selection,
  ul::selection,
  li::selection,
  h1::selection,
  h2::selection,
  h3::selection,
  h4::selection,
  h5::selection,
  strong::selection,
  legend::selection,
  select::selection,
  option::selection,
  br::selection,
  img::selection,
  text::selection,
  tspan::selection,
  input::selection {
    background-color: var(--color-primary);
    color: #fff;
    fill: #fff;
  }

  button:disabled {
    cursor: not-allowed;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply px-8 py-3 text-sm text-center text-white transition rounded-full sm:text-base bg-primary hover:bg-accent font-body;
  }
  .btn-disabled {
    @apply px-8 py-3 text-sm text-center text-white rounded-full sm:text-base bg-[#CFCFCF] font-body cursor-not-allowed;
  }
  .btn-white {
    @apply flex items-center space-x-1 text-sm text-white transition hover:text-black font-body;
  }
  .speech-dialog {
    @apply relative p-6 w-full md:h-48 lg:h-64 max-w-[250px] flex items-center justify-center;
  }
  .project-icon {
    @apply w-8 h-8 transition duration-300 ease-in transform-gpu transform-box group-hover:scale-110 group-hover:rotate-180;
  }
  .role-icon {
    @apply cursor-pointer transform-box;
  }
  .text-input {
    @apply p-4 block w-full max-w-lg font-body placeholder-[#707070] bg-[#a8a8a8] focus:outline-none focus:ring-primary focus:border-primary;
  }
  .label-input {
    @apply inline-flex items-center h-full text-base text-white sm:text-lg lg:text-xl;
  }
  .required {
    @apply inline-block text-sm align-top text-primary;
  }
  .text-link {
    @apply text-white transition hover:text-primary;
  }
}

@layer utilities {
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid white;
  }

  .triangle-bottom-right {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }

  .bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    top: -32px;
    left: 50%;
    margin-left: -16px;
    border: 1.5em solid transparent;
    border-top: 0;
    border-right: 0;
  }

  .bubble-lt:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 1.5rem solid transparent;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.75rem;
    margin-bottom: -1.5rem;
    transform: skewX(-15deg);
  }

  .bubble-rt:after {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 1.5em solid transparent;
    border-top: 0;
    border-right: 0;
    margin-left: -0.75em;
    margin-top: -1.5em;
    transform: skewX(-15deg);
  }

  .bubble-rb:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 1.5em solid transparent;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.75em;
    margin-bottom: -1.5em;
    transform: skewX(15deg);
  }

  .boder-b-pink:after {
    border-bottom-color: #cc79a7;
  }

  .border-t-green:after {
    border-top-color: #36723b;
  }

  .border-t-blue:after {
    border-top-color: #6badcb;
  }

  .border-t-yellow:after {
    border-top-color: #daa13d;
  }

  .border-b-gray:after {
    border-top-color: #474747;
  }

  .white-stoke {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
  }
}
